name: React build and deploy app

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: fetch code
        uses: actions/checkout@v4
      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: install dependecies
        run: yarn install
      - name: build app
        run: yarn build
      - name: upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          name: react-build
      - name: show files
        run: ls
      - name: show current folder
        run: pwd