name: my new workflow 16

on:
  push:

jobs:
    my-16-workflow:
      runs-on: ubuntu-latest
      steps:
        - name: get code
          uses: actions/checkout@v4
        - name: print files
          run: ls
        - name: Enviroment Variables
          run: |
            echo "Repository ${{ github.repository }} "
            echo "Commit SHA ${{ github.sha }} "
            echo "Branch ${{ github.ref_name }} "
            echo "Workflow ${{github.workflow}} "
            echo "Actor ${{ github.actor }} "
        - name: if main stuffs
          if: github.ref_name = 'main'
          run: echo "only runs on main"
        - name: if not main
          if: github.ref_name != 'main'
          run: echo "Only runs if NOT main"
        