name: my new workflow 16

on:
  push:

jobs:
    my-16-workflow:
      runs-on: ubuntu-latest
      steps:
        - name: get code
          uses: actions/checkout@v4
        - name: print files
          run: ls
        - name: make file
          run: touch README2.md
        - name: print files after make file
          run: ls